nav{
    align-items: center;
    height: 7vh;
    width: 50vh;
    background-color: antiquewhite;
    margin-bottom: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border: 5px solid black;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    height: 70vh;
    justify-items: center;
}

html{
    background-color: lightblue;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    padding: 10px;
    color: rebeccapurple;
    margin: 10px;
}

a:hover{
    background-color: rebeccapurple;
    color: white;
    border-radius: 25px;
    border: 5px solid black;
}