html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: 'Roboto' sans-serif;
}

h1{
    background-color: aqua;
    font-size: 2.5;
}

h2{
    background-color: lightblue;
    text-align: center;
    font-size: 1.8rem;
}


.titulo{
    color: red;
    font-size: 3.8rem;
    text-align: center;
}
.titulo span{
    color: green;
    font-size: 2rem;
}

p{
    font-size: 2.6;
}

/*horari*/

td{
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    color: #f2f2f2;
}

th{
    background-color: #f2f2f2;
}

.sistemes{
    background-color: #088000;
}

.serveis{
    background-color: #290087
}

.Aplicacions{
    background-color: #8DEE00
}

.Empresa{
    background-color: #4ABD8C
}

.Seguretat{
    background-color: #84818E;
}

.pati{
    background-color: #D6D5D3;
    color: #000;
    font-weight: bold;
}

.hores{
    color: #000;
    font-weight: bold;
    background-color: #D6D5D3;
}

.grup{
    background-color: #D6D5D3;
}



table{
    border-collapse: collapse;
    width: 50%;
}